.WeatherBackground {
	@include cover;
	@include ease('in-out');
	display: block;
	position: absolute;
	z-index: -1;

	&.Clear {
		background-color: color(blue);
	}

	&.Clouds {
		background-color: color(light-grey);
	}

	&.Mist {
		background-color: color(mid-grey);
	}

	&.Rain {
		background-color: color(dark-grey);
	}

	&.Thunderstorm {
		background-color: color(dark-grey);
	}
}